votingsystem-test/src/main/resources/xml/QRResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QRResponse" type="QRResponseType"/>
  <xs:complexType name="QRResponseType">
    <xs:sequence>
      <xs:element type="xs:string" name="data"/>
      <xs:element type="xs:string" name="Base64Data"/>
    </xs:sequence>
    <xs:attribute type="xs:dateTime" name="Date"/>
    <xs:attribute type="xs:string" name="Type"/>
  </xs:complexType>
</xs:schema>