votingsystem-serviceprovider/src/main/resources/xsd/publishElectionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Election" type="ElectionType"/>
    <xs:complexType name="ElectionType">
        <xs:sequence>
            <xs:element type="xs:string" name="EntityId"/>
            <xs:element type="xs:dateTime" name="DateBegin"/>
            <xs:element type="xs:string" name="DateFinish"/>
            <xs:element type="xs:string" name="Subject"/>
            <xs:element type="xs:string" name="Content"/>
            <xs:element name="State">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ACTIVE"/>
                        <xs:enumeration value="TERMINATED"/>
                        <xs:enumeration value="CANCELED"/>
                        <xs:enumeration value="PENDING"/>
                        <xs:enumeration value="DELETED_FROM_SYSTEM"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="OptionsType" name="Options"/>
            <xs:element type="xs:boolean" name="BackupAvailable" minOccurs="0"/>
            <xs:element type="xs:string" name="UUID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OptionType">
        <xs:sequence>
            <xs:element name="Content">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionsType">
        <xs:sequence>
            <xs:element type="OptionType" name="Option" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>